* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

#product_form {
  margin: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-grow: 1;
}

#delete-product-form {
  width: 100%;
}

.grid {
  min-height: 80vh;
  width: 100%;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.product-wrapper .product-container {
  height: 150px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.sku {
  text-transform: uppercase;
}

.delete-checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.hidden {
  display: none;
}

.value-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.buttons-wrapper .buttons {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: black;
  margin: 5px;
  text-decoration: none;
  background: none;
  border-radius: 10px;
  font-weight: 500;
  transition: transform 0.2s ease-in-out;
}
.buttons-wrapper .buttons:hover {
  background-color: orange;
  color: white;
  border: 1px solid white;
  transform: scale(1.15);
}
.buttons-wrapper .buttons:active {
  transform: scale(0.95);
}

.input_error {
  color: red;
}

.input_container {
  width: 40%;
  margin: 5% 30%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.input_container .type_switcher {
  margin-top: 10px;
  width: 60%;
  padding: 5px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
}
.input_container .attribute_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.input_container > input {
  padding: 3px;
  width: 60%;
  margin: 10px 0 20px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.input_container > input::placeholder {
  text-align: center;
  font-size: 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.attribute_container {
  width: 100%;
}

#DVD,
#Book,
#Furniture {
  width: 100%;
}

#DVD input,
#Book input,
#Furniture input {
  padding: 3px;
  width: 60%;
  margin: 10px 0 20px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

#DVD input::placeholder,
#Book input::placeholder,
#Furniture input::placeholder {
  text-align: center;
  font-size: 16px;
}

.description {
  margin-top: 3%;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.error-div {
  width: 100dvh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1400px) {
  body {
    min-height: 100dvh;
  }
  .header-wrapper {
    height: 70px;
  }
  .input_container {
    width: 100%;
  }
  .input_container .type_switcher {
    margin-top: 5px;
  }
  .input_container > label {
    margin: 5px 0 0 0;
  }
  .input_container > input {
    margin: 5px 0 0 0;
  }
  #DVD label,
  #Book label,
  #Furniture label {
    margin: 5px 0 0 0;
  }
  #DVD input,
  #Book input,
  #Furniture input {
    margin: 5px 0 0 0;
  }
  .delete-checkbox {
    top: 8px;
    left: 4px;
    width: 20px;
    height: 20px;
  }
  .product-wrapper .product-container {
    flex: 0 0 23%;
  }
}
@media only screen and (max-width: 500px) {
  body {
    padding: 0 5px;
  }
  .header-wrapper {
    margin: 0 35px;
  }
  #product_form {
    margin: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-grow: 1;
  }
  .input_container {
    border: none;
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
    align-self: start;
  }
  .input_container .type_switcher {
    width: 80%;
    text-align: center;
  }
  .input_container > input {
    width: 80%;
  }
  .attribute_container {
    width: 100%;
  }
  #DVD input,
  #Book input,
  #Furniture input {
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  .footer {
    margin: 0;
    width: 100%;
  }
  .product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-container {
    width: 80%;
  }
  .header-wrapper > h2 {
    font-size: 20px;
    font-weight: 600;
  }
}

/*# sourceMappingURL=style.css.map */
